@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-primary: ;
    --color-secondary: #3D2C8D;
    --color-accent: #FFD700;
}
@layer components {
    nav::before {
      content: "";
      position: absolute;
      top: -100px;
      left: 50%;
      opacity: 0.5;
      transform: translateX(-50%);
      width: 100%;
      height: 250px;
      background:linear-gradient(to bottom right, #385892, #2c3f80);
      border-radius: 50%;
      filter: blur(50px);
      z-index: -1;
    }
  }

  @media (max-width: 400px) {
    .text-xsm {
      font-size: 12px;
    }
  }
  
  .polygon{
    background-color: black;
    width: 60%;
    clip-path: polygon(0 0, 100% 0,50% 100%,0 100%);
  }
  .bgLogin{
    background:linear-gradient(to bottom right, #385892, #2c3f80);
  }
  @keyframes moveToCenterFromLeft {
    0% {
        transform:translate(50px , 0px); /* Başlangıç: Normal boyut, bulunduğu yerde */
    }
    100% {
        transform:scale(1.2) translate(62%, 0); /* Büyüyerek merkeze gitsin */
    }
}
@keyframes moveToCenterFromRight {
  0% {
      transform:translate(50px , 0px); /* Başlangıç: Normal boyut, bulunduğu yerde */
  }
  100% {
      transform:scale(1.2) translate(-62%, 0); /* Büyüyerek merkeze gitsin */
  }
}
  .center-div-fromLeft {
    top: 50%;  /* Başlangıçta merkezi bir yerde */
    left: 50%;
    transform: translate(-50%, -50%); /* Başlangıçta doğru pozisyonda */
    animation: moveToCenterFromLeft 1s ease-in-out forwards; /* Animasyonu başlat */
  }
  .center-div-fromRight {
    top: 50%;  /* Başlangıçta merkezi bir yerde */
    left: 50%;
    transform: translate(-50%, -50%); /* Başlangıçta doğru pozisyonda */
    animation: moveToCenterFromRight 1s ease-in-out forwards; /* Animasyonu başlat */
  }